<a href="https://colab.research.google.com/github/rubenprinsloo/Pandas/blob/master/Data%20Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/adult.data.csv')

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels

In [5]:
race_count = pd.DataFrame([[sum(df['race'] == 'White')],[sum(df['race'] == 'Black')],[sum(df['race'] == 'Asian-Pac-Islander')],[sum(df['race'] == 'Amer-Indian-Eskimo')],[sum(df['race'] == 'Other')]], columns=['Number of each race'])

In [6]:
 race_count.index = ['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other']

In [7]:
print("Number of each race:\n", race_count)

Number of each race:
                     Number of each race
White                             27816
Black                              3124
Asian-Pac-Islander                 1039
Amer-Indian-Eskimo                  311
Other                               271

What is the average age of men?

In [8]:
Males = df[df['sex'] == 'Male']

In [9]:
average_age_men = round(Males['age'].mean(), 1)

In [10]:
print("Average age of men:", average_age_men)

Average age of men: 39.4

What is the percentage of people who have a Bachelor's degree?

In [11]:
percentage_bachelors =  round(sum((df["education"] == 'Bachelors')/len(df['education'])) * 100, 1)

In [12]:
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")

Percentage with Bachelors degrees: 16.4%

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [13]:
Higher_edu_df = df[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')]

In [14]:
Lower_edu_df = df[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')]

In [16]:
higher_education = len(Higher_edu_df['education'])

In [17]:
lower_education = len(Lower_edu_df['education'])

In [19]:
higher_education_rich = round(sum(Higher_edu_df['salary'] == '>50K')/len(Higher_edu_df['education']) * 100, 1)

In [20]:
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")

Percentage with higher education that earn >50K: 46.5%

What percentage of people without advanced education make more than 50K?

In [21]:
lower_education_rich = round(sum(Lower_edu_df['salary'] == '>50K')/len(Lower_edu_df['education']) * 100, 1)

In [22]:
print(f"Percentage without lower education that earn >50K: {lower_education_rich}%")

Percentage without lower education that earn >50K: 17.4%

What is the minimum number of hours a person works per week?

In [23]:
min_work_hours = min(df['hours-per-week'])

In [24]:
print(f"Min work time: {min_work_hours} hours/week")

Min work time: 1 hours/week

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [25]:
min_time = df[df['hours-per-week'] == 1]

In [26]:
num_min_workers = len(min_time['hours-per-week'])

In [27]:
rich_percentage = round(sum(min_time['salary'] == '>50K')/len(min_time['hours-per-week'])*100, 2)

In [28]:
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")

Percentage of rich among those who work fewest hours: 10.0%

What country has the highest percentage of people that earn >50K and what is that percentage?

In [37]:
highest_country = (
        df[["salary", "native-country"]]
        .groupby("native-country")
        .apply(lambda g: g.loc[g["salary"] == ">50K"].size / g.size * 100)
    )

In [38]:
highest_earning_country = highest_country.idxmax()

In [40]:
print(f"Highest earning country: {highest_earning_country}")

Highest earning country: Iran

In [41]:
highest_earning_country_percentage = round(highest_country.max(), 1)

In [42]:
print(f"Highest earning country percentage: {highest_earning_country_percentage}")

Highest earning country percentage: 41.9

In [43]:
top_IN_occupation = (
        df.loc[(df["native-country"] == "India") & (df["salary"] == ">50K")][
            "occupation"
        ]
        .value_counts()
        .idxmax()
    )

In [44]:
print(f"Most popular occupation for those who earn >50k in india is: {top_IN_occupation}")

Most popular occupation for those who earn >50k in india is: Prof-specialty